---
- name: Local Ops directories exist
  file:
    state: directory
    dest: "{{ item }}"
    recurse: true
  with_items:
    - "{{ ops.util_dir }}"
    - "{{ ops.temp_dir }}"

- include_role:
    name: util/collect
  vars:
    package: {
      name: reflector,
      url: "{{ arch_pkgs.reflector.url }}",
      sigfile: "{{ arch_pkgs.reflector.sigfile }}",
    }

- name: Reflector archive directory detected
  command: tar -Jtf "{{ ops.repo_dir }}/collected/reflector/{{ arch_pkgs.reflector.url|basename }}"
  args:
    warn: false
  changed_when: false
  register: install_reflector_archive

- name: Reflector archive extracted
  unarchive:
    src: "{{ ops.repo_dir }}/collected/reflector/{{ arch_pkgs.reflector.url|basename }}"
    dest: "{{ ops.util_dir }}"
    creates: "{{ ops.util_dir }}/{{ install_reflector_archive.stdout_lines[0] }}"
  register: install_reflector_unarchive

- name: Bootstrap mirror found
  shell: >
         ./reflector
         --country "{{ arch_install.mirror_country }}"
         --protocol https
         --score 1
         --completion-percent 100
         |awk '/Server/{print $3}'
         |sed 's/$repo.*/iso\/latest/'
  args:
    chdir: "{{ ops.util_dir }}/{{ install_reflector_archive.stdout_lines[0] }}"
  changed_when: false
  register: install_bootstrap_mirror

- name: Bootstrap mirror index parsed
  shell: curl -L {{ install_bootstrap_mirror.stdout }} |grep -o 'archlinux-bootstrap[0-9\.-]*x86_64.tar.gz'
  args:
    warn: false
  changed_when: false
  register: install_bootstrap_url

- include_role:
    name: util/collect
  vars:
    package: {
      name: archlinux-bootstrap,
      url: "{{ install_bootstrap_mirror.stdout }}/{{ install_bootstrap_url.stdout_lines[0] }}",
      sigfile: "{{ install_bootstrap_mirror.stdout }}/{{ install_bootstrap_url.stdout_lines[0] }}.sig"
    }

- name: Bootstrap root archive extracted
  become: true
  unarchive:
    src: "{{ ops.repo_dir }}/collected/archlinux-bootstrap/{{ install_bootstrap_url.stdout_lines[0]|basename }}"
    dest: /tmp/
    creates: /tmp/root.x86_64

- name: Bootstrap root boundary bind mounted
  become: true
  command: mount --bind /tmp/root.x86_64  /tmp/root.x86_64
  args:
    warn: false
  when: not '/tmp/root.x86_64' in (ansible_mounts|map(attribute='mount')|list)

- name: Current mounts detected
  shell: cat /proc/mounts | awk '{print $2}'
  changed_when: false
  register: install_mounts

- name: /proc mounted into bootstrap root
  become: true
  command: mount -t proc /proc /tmp/root.x86_64/proc
  args:
    warn: false
  when: not '/tmp/root.x86_64/proc' in install_mounts.stdout

- name: System VFS mounted into bootstrap root
  become: true
  command: mount --make-rslave --rbind /{{ item }} /tmp/root.x86_64/{{ item }}
  args:
    warn: false
  when: not ('/tmp/root.x86_64/' + item ) in install_mounts.stdout
  with_items:
    - sys
    - dev
    - run

#TODO: Partition devices & Create filesystems

- include_tasks: install_mounts.yml
  vars:
    install_mount_query: "[?fs!=''&&mount!='swap']"
  loop_control:
    loop_var: install_partition
  with_items:
    - "{{ arch_install.partitions|json_query(install_mount_query) }}"

- name: Detect active servers in mirrorlist
  command: grep -q '^Server' /tmp/root.x86_64/etc/pacman.d/mirrorlist
  changed_when: false
  failed_when: false
  register: install_mirrorlist_active

- name: Mirrorlist generated
  become: true
  command: |
           ./reflector
           --country "{{ arch_install.mirror_country }}"
           --protocol https
           --score 12
           --completion-percent 100
           --sort rate
           --save /tmp/root.x86_64/etc/pacman.d/mirrorlist
  args:
    chdir: "{{ ops.util_dir }}/{{ install_reflector_archive.stdout_lines[0] }}"
  when: install_mirrorlist_active.rc != 0

- name: Host resolv.conf placed in bootstrap
  become: true
  copy:
    src: /etc/resolv.conf
    dest: /tmp/root.x86_64/etc/resolv.conf

- set_fact:
    arch_bootstrap_progs:
          - "{{ arch_bootstrap_progs|default([]) }}"
          - btrfs-progs

#TODO: Make idempotent
- name: Pacstrap run in chroot (this may take a long time)
  become: true
  shell: ansible-playbook -e arch_bootstrap_progs="{{ arch_bootstrap_progs|join(' ') }}" _arch_bootstrap |grep -v 'limit @'
  args:
    chdir: "{{ playbook_dir }}"
  environment:
    ANSIBLE_STDOUT_CALLBACK: json
  register: install_pacstrap
  no_log: true
  ignore_errors: true
  # changed_when: (install_pacstrap.stdout|from_json)['stats']['localhost']['changed'] > 0
  # failed_when: (install_pacstrap.stdout|from_json)['stats']['localhost']['failures'] > 0

- name: Arch bootstrap
  debug:
    msg: "{{ (install_pacstrap.stdout|from_json).plays[1].tasks|json_query(task_query) }}"
  vars:
    task_query: '[?hosts.localhost.stdout||hosts.localhost.stderr||hosts.localhost.msg].{task: task.name, stdout: hosts.localhost.stdout_lines, stderr: hosts.localhost.stderr_lines, msg: hosts.localhost.msg}'
  # when: (install_pacstrap.stdout|from_json)['stats']['localhost']['failures'] > 0
  # failed_when: true
