---
- name: Host swap activated
  become: true
  command: swapon "{{ install_swapon.stdout }}"

- name: Target swap deactivated
  become: true
  command: swapoff "{{ item.fs }}"
  loop_control:
    label: "{{ item.fs }}"
  vars:
    install_swap_query: "[?fs!=''&&mount=='swap']"
  with_items: "{{ arch_install.partitions|json_query(install_swap_query) }}"

